<%- include('partials/head.ejs')%>

  <body>
    <%- include('partials/navbar.ejs')%>

      <main class="container mt-5">
        <h1 class="text-center mb-3">Todas as perguntas</h1>
        <a class="btn btn-success mb-5 p-3 fs-5" href="/question">Faça sua pergunta!</a>

        <% questions.forEach((question)=> { %>

          <div class="card mb-3">
            <div class="card-body">
              <h4><%- question.questionTitle %></h4>
            </div>
            <div class='card-footer'>
              <a href="/questionPage/<%- question.id %>"><button class="btn btn-success">Responder</button></a>
            </div>
          </div>

          <% }) %>
      </main>

  </body>


  <%- include('partials/script.ejs')%>